
.social-icon {
  font-size: 2.5em;
  color: #fff;
  align-items: flex-start;
}

.social-icon:hover {
  color: rgb(54, 108, 217);
  transition: color 0.3s ease;
  
}
  
  @media (min-width: 991px) and (max-width:1200px) {
    .skill-block {
      padding: 32px !important;
    }
  }
  
  @media (min-width: 1200px) {
    .skill-block {
      padding: 56px !important;
    }
  }
  